@define-mixin clearfix {
  ::after {
    content: "";
    clear: both;
    display: table;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.top-navigation {
  background-color: rgba(21, 115, 189, 0.17);
  width: 100%;
  margin: 0;
  padding: 0;
  color: #083558;
  font-weight: 600;
}

.nav-container {
  padding: 0 1em;
  margin: 0;
}

.brand {
  margin: 0;
}

.nav-menu {
  margin: 0;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  margin: 0 .5em;
  color: #083558;
  padding: .5em;
  cursor: pointer;
  font-size: .8rem;
}

.nav-item:hover {
  background-color: rgba(21, 115, 189, 0.9);
  color: #fff;
}

@media (min-width: 850px) {
  .nav-item {
    font-size: 1rem;
  }
}

ul {
  margin: 0;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../Images/palm-trees-light.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #7ea9cc;
  margin: 0 auto;
  height: 100%;
}

@media (max-height: 525px) {
  .main-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 15px auto;
  display: block;
}

.background-img {
  opacity: .8;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.intro-text {
  font-weight: 500;
  width: 300px;
  text-align: center;
  display: block;
  margin: 15px auto;
  color: #083558;
}

.form-area {
  min-width: 350px;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 1.3em 0;
  font-size: 0.9 0.5rem;
}

@media (min-width: 400px) {
  .form-area {
    border-radius: 10px;
    height: auto;
  }
}

@media (max-height: 525px) {
  .form-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: auto;
    min-width: 50%;
    padding: 1em 2em;
  }
}

@media (min-width: 850px) {
  .form-area {
    margin: 0 auto 0 3.5em;
  }
}

.intro-text {
  margin-top: 1.5em;
}

@media (max-height: 525px) {
  .intro-text {
    font-size: 1em;
  }
}

form {
  width: 100%;
}

.search-form {
  width: 75%;
  height: 75%;
  max-width: 600px;
  margin: auto;
}

.search-form-input {
  border-radius: 10px;
  border: solid 1px #095087;
  background-color: rgba(21, 115, 189, 0.8);
  padding: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: .8rem;
  margin: .6em 0;
}

.search-form ::-webkit-input-placeholder {
  color: white;
}

.search-form :-ms-input-placeholder {
  color: white;
}

.search-form ::-ms-input-placeholder {
  color: white;
}

.search-form ::placeholder {
  color: white;
}

.search-form--fullwidth {
  width: 100%;
}

.search-form--halfwidth {
  width: 47%;
}

.search-form label {
  margin: 0;
  padding-bottom: 0;
}

.search-form .submit-btn {
  background-color: #46D330;
  border: solid 1px #30700E;
  padding: 8px 25px;
  margin-top: 15px;
  border-radius: 10px;
  color: #083558;
  font-weight: 700;
  cursor: pointer;
  font-size: .9rem;
}

.search-form .submit-btn--area {
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--2 {
  margin: .8em 0;
}
/*# sourceMappingURL=styles.css.map */