.form-area {
    min-width: 350px;
        max-width: 400px;
   height: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 1.3em 0;
    
    font-size: .9.5rem;

    @include atSmall {
        border-radius: 10px;
        height: auto;
    }

    @include atSmallLandscape {
        display: flex;
        justify-content: space-between;
        max-width: auto;
        min-width: 75%;
        padding: 1em 2em;
        
    }

    @include atMedium {
        margin: 0 auto 0 3.5em;
        
    }
}

.intro-text {
    margin-top: 1.5em;

    @include atSmallLandscape {
        font-size: .9rem;
        width: 150px;
    }
}
form {
    width: 100%;
}

.search-area--primary {
    @include atSmallLandscape {
        width: 40%;
    
    }
}

.search-area--secondary,
form {
    @include atSmallLandscape {
        width: 100%;
        
    }
}

.search-form {
    width: 75%;
    height: 75%;
    max-width: 600px;
    margin: auto;

    @include atSmallLandscape {
        width: 55%;
        height: 100%;
        
    }
  

    &-input {
        border-radius: 10px;
        border: solid 1px $mainBlueBorder;
        background-color: rgba($mainBlue, .8);
        padding: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        font-size: .8rem;
        margin: .6em 0;

    }

    ::placeholder {
        color: white;
       
    }


    &--fullwidth {
        width: 100%;
        // margin: .6em 0 0 0;
        
    }

    &--halfwidth {
        width: 47%; 
    }

    label {
        margin: 0;
        padding-bottom: 0;
    }

    .submit-btn {
        background-color: $mainGreen;
        border: solid 1px $mainGreenBorder;
        padding: 8px 25px;
        margin-top: 15px;
        border-radius: 10px;
        color: $darkBlueText;
        font-weight: 700;
        cursor: pointer;
        font-size: .9rem;

        &--area {
            text-align: center;
        }
    }   
   
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

        &--2 {
            margin: .8em 0;
        }
}

