.home-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15px auto;
    display: block;

    @include atMedium {
       
    }
}

.background-img {
    opacity: .8;
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

