
.main-section {

    display: flex;
    align-items: center;
    background: url(../Images/palm-trees-light.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgb(126, 169, 204);
    margin: 0 auto;
    height: 100%;
    // padding: 2.5em 1.5em 2em 1.5em;
    // // padding: 2.5em 2em 2em 2em;

    // @include atSmall {
    //     // padding: 2em;
    //     padding: 2.5em 2em 2em 2em;
    // }

   
  
}



