
.main-section {

    
    background: url(../Images/palm-trees-light.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 auto;

    @include atSmall {
        padding: 2em;
    }
  
}



